.container {
    display: grid;
    gap: 1.5em;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
    height: auto;
    padding: 10px;
}

.inner {
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 300px;
    padding: 15px;
}

.inner:nth-of-type(5) {
    background-color: #fcfcfc;
    border: 1px solid #5b0ed6;
    grid-area: five;
}

.inner:nth-of-type(1) {
    background-color: #6405bd;
    color: white;
    font-size: 20px;
    grid-area: one;
}

.inner:nth-of-type(2) {
    background-color:  #4b4a55;
    grid-area: two;
}

.inner:nth-of-type(3) {
    background-color: #ffffff;
    border: 1px solid #4b4a55;
    grid-area: three;
}

.inner:nth-of-type(4) {
    background-color: #15141a;
    grid-area: four;
}

h1 {
    font-family: cursive;
    font-size: 1em;
}

@media (min-width: 900px) {
    .container {
        grid-template-areas: 
        'one one two five'
        'three four four five';
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .container {
        grid-template-areas: 
        'one one'
        'two five' 
        'three five' 
        'four four';
        grid-template-columns: repeat(2, 1fr);
    }
}